.about-us-container {
    width: 1280px;
    padding: 85px 137px;
    background-image: url("../images/about-bg.jpg");
    background-repeat: no-repeat;
    background-size: 1280px 450px;
    border-radius: 10px;
}

.about-us-info {
    width: 445px;
}

.about-us__heading {
    margin-bottom: 24px;
    font-size: 40px;
}