@import "container";
@import "header";
@import "footer";

// Home page
@import "hero";
@import "products";
@import "about";
@import "work.scss";

// About us page
@import "about-us";
@import "commitment";
@import "quality";
@import "headquarters";

// Subscribe page
@import "plane";
@import "our-work";
@import "my-plane";