.footer {
    padding-bottom: 88px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 85px;
    background-color: #2C343E;
}

.footer-left {
    width: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-link--active {
    color: $white-text;
}

.f-nav__link:hover {
    color: $white-text;
}

.footer-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-links__item + .footer-links__item {
    margin-left: 24px;
}