.footer {
    padding-bottom: 88px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 85px;
    background-color: #2C343E;
}

.footer-left {
    width: 100%;
    max-width: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-link--active {
    color: $white-text;
}

.f-nav__link:hover {
    color: $white-text;
}

.footer-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-links__item + .footer-links__item {
    margin-left: 24px;
}

@include media-max (930px) {
    .footer-left {
        flex-direction: column;
    }

    .footer__link {
        margin-bottom: 48px;
    }

    .footer-container {
        flex-direction: column;
    }

    .f-nav__list {
        margin-bottom: 50px;
        flex-direction: column;
    }

    .f-nav__item {
        margin-top: 24px;
    }

    .f-nav__link {
        display: block;
        max-width: 130px;
        text-align: center;
    }

    @include media-max (600px) {
        .footer-links__link {
            font-size: 12px;
        }
    }
}