.our-work-container {
    width: 1280px;
    padding: 100px 85px;
    background-color: #2C343E;
    border-radius: 10px ;
}

.our-work-list__heading {
    color: $white-text;
}

.our-work-list__desc {
    color: $white-text;
}