.plane-container {
    width: 1280px;
    background-image: url("../images/plane-bg.jpg");
    background-repeat: no-repeat;
    padding: 134px 85px;
    margin-bottom: 170px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .plane-container {
      background-image: url("../images/plane-bg@2x.jpg");
  }
} 