.quality-container {
    position: relative;
    width: 1280px;
    padding: 88px 85px 176px 85px;
    background-color: #2C343E;
    background-position: 1280px 474px;
    border-radius: 10px;
}

.quality-info {
        width: 540px;
}

.quality__heading {
    font-size: 40px;
}

.quality__desc {
    margin: 0;
}

.quality__img {
    position: absolute;
    z-index: 1;
    top: -17%;
    right: 5%;
    border-radius: 10px;
}